@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;900&display=swap");

:root {
	--color-tan: #d5966c;
	--color-black: #151515;
	--color-white: #ffffff;

	/* Font family */
	--ff: "Big Shoulders Display", cursive;

	/* Font size */
	--fs-96: 6rem;
	--fs-70: 4.375rem;
	--fs-60: 3.75rem;
	--fs-36: 2.25rem;
	--fs-22: 1.375rem;
	--fs-18: 1.125rem;

	/* Line spacing */
	--ls-88: 5.5rem;
	--ls-70: 4.375rem;
	--ls-50: 3.125rem;
	--ls-36: 2.25rem;
	--ls-32: 2rem;
	--ls-28: 1.75rem;
}

body {
	font-family: var(--ff);
	font-weight: 400;
	font-size: var(--fs-18);
	width: 100vw;
	min-height: 100vh;
	background-color: var(--color-white);
}

.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Utilities */

.text-uppercase {
	text-transform: uppercase;
}

/* Component CSS */

/* Gallery Intro Section */
.gallery__intro {
	width: 100%;
	height: 50rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
}

.gallery__intro--black-bg {
	width: 31.25%;
	height: 100%;
	display: block;
	background: var(--color-black);
}

.gallery__intro__content {
	width: 68.75%;
	height: 100%;
	display: flex;
	position: relative;
}

.gallery__intro__title {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: absolute;
	top: 18%;
	left: -20%;
	transform: translate(-18%, 20%);
}

.gallery__heading {
	font-size: var(--fs-96);
	line-height: var(--ls-88);
	font-weight: 900;
}

.gallery__heading--gradient-1 {
	background: linear-gradient(to right, var(--color-white) 92%, var(--color-black) 8%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.gallery__heading--gradient-2 {
	background: linear-gradient(to right, var(--color-white) 63%, var(--color-black) 37%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.gallery__intro__content .gallery__intro__hero {
	width: 55%;
	height: 100%;
	background: url(../assets/desktop/image-hero@2x.jpg) no-repeat center center;
	background-size: 100% 100%;
}

.gallery__intro__content .gallery__intro__text {
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 3rem;
	width: 32%;
	position: absolute;
	top: 23%;
	right: 10%;
	transform: translate(-23%, -10%);
}

.gallery__paragraph {
	font-size: var(--fs-22);
	line-height: var(--ls-32);
	font-weight: 300;
}

.btn {
	padding: 1rem 4rem 1rem 1.5rem;
	color: var(--color-white);
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-image: linear-gradient(to right, var(--color-black) 80%, var(--color-tan) 20%);
	border: none;
	position: relative;
	z-index: 1;
}

.btn::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(to right, var(--color-tan) 80%, var(--color-black) 20%);
	z-index: -1;
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
}

.btn--active:hover::before {
	cursor: pointer;
	opacity: 1;
}

.btn__link,
.btn__link:visited {
	font-size: 1.25rem;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
}

.btn svg {
	position: absolute;
	right: 7.5%;
	transform: translateX(7.5%);
}

/* Feature Grid Section */

.gallery__feature {
	width: min(91.4%, 69.375rem);
	height: fit-content;
	display: grid;
	place-content: center;
	margin-block: 5rem;
}

.feature__heading {
	font-size: var(--fs-60);
	line-height: 3.75rem;
	margin-bottom: 1.5rem;
	font-weight: 900;
}

.gallery__feature__grid {
	width: 100%;
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

/* Grid Areas */
.grid__1 {
	grid-column: 1 / 3;
}

.grid__2 {
	grid-column: 3 / 6;
}

.grid__3 {
	grid-column: 1 / 4;
	grid-row: 2 / 4;
}

.grid__4 {
	grid-column: 4 / 6;
	grid-row: 2 / 3;
}

.grid__5 {
	grid-column: 4 / 6;
	grid-row: 3 / 4;
}

.grid__text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.grid__text .gallery__paragraph {
	margin-bottom: 0;
}

.grid__text:first-of-type {
	padding: 5rem 3rem 5rem 0;
}

.grid__text:last-of-type {
	color: var(--color-white);
	background: var(--color-black);
	padding: 3rem;
}

.gallery__feature__grid .grid__2.grid__image {
	background: url(../assets/desktop/image-grid-1@2x.jpg) no-repeat center right;
	background-size: 100% 100%;
}

.gallery__feature__grid .grid__3.grid__image {
	background: url(../assets/desktop/image-grid-2@2x.jpg) no-repeat center center;
	background-size: 100% 100%;
}

.gallery__feature__grid .grid__4.grid__image {
	background: url(../assets/desktop/image-grid-3@2x.jpg) no-repeat center center;
	background-size: 100% 100%;
}

/* Footer */
.footer {
	background: var(--color-black);
	color: var(--color-white);
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-block: 3rem;
	padding-inline: 10%;
}

.footer__heading {
	width: 30%;
	font-size: var(--fs-36);
	font-weight: 700;
	line-height: 1;
}

.footer__paragraph {
	width: 30%;
	font-size: var(--fs-18);
	line-height: var(--ls-28);
	font-weight: 300;
}

.footer__social-icon {
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.icon:hover {
	cursor: pointer;
	fill: var(--color-tan);
}

/* Media Query */
/* Small Desktop */
@media only screen and (max-width: 64rem) {
	/* Intro Section */
	.gallery__intro {
		height: 43.75rem;
	}

	.gallery__intro--black-bg {
		display: none;
	}

	.gallery__intro__content {
		width: 100%;
	}

	.gallery__heading {
		font-size: var(--fs-70);
		line-height: 4.0625rem;
	}

	.gallery__paragraph {
		font-size: var(--fs-18);
		line-height: var(--ls-28);
	}

	.gallery__heading--gradient-1,
	.gallery__heading--gradient-2 {
		background: none;
		background-clip: unset;
		color: #151515;
		-webkit-text-fill-color: #151515;
	}

	.gallery__intro__title {
		top: 10%;
		left: 53%;
		transform: translate(-10%, 53%);
	}

	.gallery__intro__content .gallery__intro__text {
		top: 40%;
		right: 5%;
		transform: translate(-40%, 5%);
	}

	/* Feature Section */

	.feature__heading {
		font-size: 3.125rem;
		line-height: 2.8125rem;
	}

	/* Footer */
	.footer {
		padding-block: 2rem;
		padding-inline: 2rem;
	}
}

/* Tablet */
@media only screen and (max-width: 48rem) {
	/* Intro Section */

	.gallery__intro__content .gallery__intro__hero {
		background: url(../assets/tablet/image-hero@2x.jpg) no-repeat center center;
		background-size: cover;
	}
	/* Feature Section */
	.gallery__feature__grid .grid__2.grid__image {
		background: url(../assets/tablet/image-grid-1@2x.jpg) no-repeat center right;
		background-size: 100% 100%;
	}

	.gallery__feature__grid .grid__3.grid__image {
		background: url(../assets/tablet/image-grid-2@2x.jpg) no-repeat center center;
		background-size: 100% 100%;
	}

	.gallery__feature__grid .grid__4.grid__image {
		background: url(../assets/tablet/image-grid-3@2x.jpg) no-repeat center center;
		background-size: 100% 100%;
	}

	.grid__text:first-of-type {
		padding-right: 1rem;
	}

	/* Footer */
	.footer__heading {
		font-size: var(--fs-22);
	}

	.footer__paragraph {
		font-size: 1rem;
		line-height: 1.625rem;
	}
}

/* Mobile */
@media only screen and (max-width: 37.5rem) {
	/* Intro Section */
	.gallery__intro {
		height: 39.375rem;
	}

	.gallery__feature {
		margin-top: 0;
	}

	.gallery__intro__content {
		flex-direction: column;
		gap: 1rem;
	}

	.gallery__intro__content .gallery__intro__title,
	.gallery__intro__content .gallery__intro__text {
		width: 100%;
		position: static;
		padding-left: 1.5rem;
		top: 0;
		left: 0;
		right: 0;
		transform: translate(0, 0);
	}

	.gallery__intro__content .gallery__intro__text {
		gap: 1rem;
	}

	.gallery__heading {
		font-size: var(--fs-60);
		line-height: 3.4375rem;
	}

	.gallery__intro__content .gallery__intro__hero {
		width: 100%;
		max-height: 15rem;
		background: url(../assets/mobile/image-hero@2x.jpg) no-repeat center center;
		background-size: 100% 100%;
	}
	/* Feature Section */
	.gallery__feature__grid .grid__2.grid__image {
		background: url(../assets/mobile/image-grid-1@2x.jpg) no-repeat center right;
		background-size: 100% 100%;
	}

	.gallery__feature__grid .grid__3.grid__image {
		background: url(../assets/mobile/image-grid-2@2x.jpg) no-repeat center center;
		background-size: 100% 100%;
	}

	.gallery__feature__grid .grid__4.grid__image {
		background: url(../assets/mobile/image-grid-3@2x.jpg) no-repeat center center;
		background-size: 100% 100%;
	}

	.grid__text:first-of-type {
		padding: 0;
	}

	.gallery__feature__grid {
		grid-template-columns: 1fr;
		grid-template-rows: none;
		grid-auto-rows: 1fr;
		gap: 1rem;
		grid-template-areas:
			"two"
			"one"
			"three"
			"four"
			"five";
	}

	/* Grid Areas */
	.grid__1 {
		grid-area: one;
	}

	.grid__2 {
		grid-area: two;
	}

	.grid__3 {
		grid-area: three;
	}

	.grid__4 {
		grid-area: four;
	}

	.grid__5 {
		grid-area: five;
	}

	/* Footer */
	.footer {
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-evenly;
		gap: 2rem;
	}

	.footer__heading,
	.footer__paragraph,
	.footer__social-icon {
		width: 100%;
	}

	.footer__social-icon {
		justify-content: flex-start;
	}
}
